*
!.gitignore
!.zshrc
!.vimrc
!.tmux.conf
!.powerlevel9k
!.p10k.zsh
!.alias
!.ptpython-config.py
!terminal.profile
!install*.sh
!init.vim

!*/
!.vim/**
!custom/**
!assets/**
!docs/**

.gem/
.tmux/
.oh-my-zsh/
**~

